{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "env": {
    "development": {
      "plugins": [
        "react-intl",
        [
          "styled-components",
          {
            "ssr": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "lang/.messages/"
          }
        ],
        [
          "styled-components",
          {
            "ssr": true
          }
        ]
      ]
    }
  }
}
