@import '../node_modules/startbootstrap-sb-admin-2/scss/sb-admin-2.scss';

@media (min-width: 768px) {
  .sidebar .nav-item .nav-link svg {
    width: 15px;
    margin-right: 0.5rem;
  }

  .sidebar.toggled .nav-item .nav-link svg {
    margin-right: 0;
  }
}
